#environment & port
NODE_ENV=development
PORT=3000


#use an encryption algorithm to generate the following e.g. crypto random - hex, or bcrypt
SESSION_SECRET=your_session_secret

#salt for password hashing with bcrypt
PASSWORD_HASH_SALT=12

#jwt
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_refresh_jwt_secret

#database

#redis
REDIS_URL=redis://localhost:6379

#postgres
DATABASE_URL="postgresql://username:password@localhost:5432/mydb?schema=public" 

# Stripe
STRIPE_SECRET_KEY=sk_test_xxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxx

# BKash Sandbox
BKASH_BASE_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta
BKASH_USERNAME=
BKASH_PASSWORD=
BKASH_APP_KEY=
BKASH_APP_SECRET=
BKASH_CALLBACK_URL=http://localhost:3000/api/v1/payments/bkash/callback

CLIENT_URL=http://localhost:5000
SERVER_URL=http://localhost:3000