# ==========================================
# Server
# ==========================================
PORT=3000
NODE_ENV=development

SERVER_URL=http://localhost:3000
CLIENT_URL=http://localhost:5000

# ==========================================
# Security
# ==========================================
SESSION_SECRET=your_session_secret
PASSWORD_HASH_SALT=12

JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret

# ==========================================
# PostgreSQL
# ==========================================
# If PostgreSQL is running on your host machine (Docker development)
DATABASE_URL=postgresql://username:password@host.docker.internal:5433/ecommerce?schema=public

# If PostgreSQL is running in Docker, use:
# DATABASE_URL=postgresql://username:password@postgres:5432/ecommerce?schema=public

# ==========================================
# Redis
# ==========================================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

# ==========================================
# Stripe
# ==========================================
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# ==========================================
# BKash Sandbox
# ==========================================
BKASH_BASE_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta
BKASH_USERNAME=
BKASH_PASSWORD=
BKASH_APP_KEY=
BKASH_APP_SECRET=
BKASH_CALLBACK_URL=http://localhost:3000/api/v1/payments/bkash/callback